<!-- <div>

    <mat-card>

        <img matCardImage src="../../assets/images/{{restaurant.cuisine}}.jpg" style="width: 50em;height: 30em;">

        <mat-card-header>
            <mat-card-title><h1>{{restaurant.restaurantName}}</h1></mat-card-title>
        </mat-card-header>


        <mat-card-content>
            <p> <strong>{{restaurant.rating}} <img mat-card-image src="../../assets/star.png" style="width: 3.2; height: 1em;"> </strong></p>
            <p><strong>{{restaurant.location}}</strong></p>
        </mat-card-content>

        <div *ngIf="authService.isLoggedStatus==true">                        //if true , enable user to a the list of restaurant to his account
            <mat-card-actions  >
                <button mat-button color="disabled"  (click)="addToFavorites()" > add to favorite</button>
            </mat-card-actions>
        </div>


        <p> {{authService.isLoggedStatus}}</p>


    </mat-card>


</div>
 -->
 <div>

    <mat-card class="card col-md-6">
        <img matCardImage src="../../assets/images/{{restaurant.cuisine}}.jpg" style="width: 750px;height: 400px;">

        <mat-card-header>
            <mat-card-title>
                <h1>{{restaurant.restaurantName}}</h1>
            </mat-card-title>
        </mat-card-header>


        <mat-card-content>
            <p class="content fs-6"> <strong>{{restaurant.rating}} <img id="star" mat-card-image
                        src="../../assets/star.png" style="width: 3.2; height: 1em;"> </strong></p>
            <p class="content-two fs-5"><strong>{{restaurant.location}}</strong></p>
        </mat-card-content>

        <div *ngIf="authService.isLoggedStatus==true">
            <!-- if true , enable user to a the list of restaurant to his  account-->

            <div class="example-button-container">
                <button mat-fab aria-label="Example icon button with a heart icon" (click)="addToFavorites()">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>


    </mat-card>

    <div  >
    <div class="row">
        <h1 id="card-two"> <strong>Serves {{restaurant.cuisine}} </strong></h1>
        <mat-card  style="width: 250px; height:250px;" id="card-one" *ngFor="let dish of restaurant.dishList" class="card mt-5">
            <img  (click)="login()" class="img" src="../../assets/images/{{dish.dishName}}.jpg" style="width: 230px;height: 150px;">
            <h2 class="fs-6">{{dish.dishName}} <br><span>&#8377;</span>{{dish.dishCost}} <br> {{dish.dishType}}</h2>
            <!-- <button class="buttom" mat-raised-button  *ngIf="authService.isLoggedStatus" routerLink="/addToCart/{{restaurant.restaurantId}}/{{dish.dishId}}"> Add to cart</button> -->
            <button class="buttom" mat-icon-button *ngIf="authService.isLoggedStatus" routerLink="/addToCart/{{restaurant.restaurantId}}/{{dish.dishId}}">
            <mat-icon >add_shopping_cart</mat-icon>
        </button>
        </mat-card>
    </div>
</div>
</div>

<!-- (click)="addToCart(restaurant.restaurantId,dish.dishId) -->